body{
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif;
  font-family: 'Montserrat', sans-serif;
  background: #6534ff;
  color: #fff;
}

h1,h2,h3 {
	line-height:1.2;
  font-weight: 300;
}

@media print{
	body{
		max-width:none
	}
}

#title {
  text-align: center;
  font-size: 66px;
  font-weight: 600;
}

#comingsoon {
  text-align: center;
}

.container {
  background: #fff;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

h4 {
  display:inline;
  font-size: 26px;
}

button {
  margin-bottom: 15px
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
